.nav {
  background-color: rgb(8, 8, 8);
  height: 10vh;
  display: flex;
  justify-content: flex-end;
}
.nav li {
  display: inline-block;
  list-style: none;
  height: 100%;
  line-height: 10vh;
  padding: 0 10px;
}
.logo {
  color: #fff;
  float: left;
  margin-left: 20px;
  padding-top: 5px;
  height: 100%;
  width: 100%;
  letter-spacing: 2px;
  flex: 40%;
}
.button {
  color: #fff;
  text-decoration: none;
}

.nav li:hover {
  background-color: rgb(184, 10, 77);
  transition: ease 0.5s;
}
