.nav {
  display: flex;
  margin: 0px;
  justify-content: flex-end;
  gap: 8px;
  color: blue;
  list-style: none;
  height: 24px;
}

.button {
  background-color: rgb(1, 1, 116);
  border-radius: 5px;
  cursor: pointer;
  background-color: antiquewhite;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  outline: 0;
}
