<app-navbar> </app-navbar>
<!-- <h1>{{ title }}</h1> -->
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->

<!-- api calling  -->
<!-- <ul>
  <li *ngFor="let quote of quotes">{{ quote.text + " ~" + quote.author }}</li>
</ul> -->

<!-- services -->
<!-- classes which have data  -->
<!-- <ul>
  <li *ngFor="let user of users">{{ user.name + " ==>" + user.age }}</li>
</ul> -->

<!-- reactive forms -->
<!-- <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
  <input type="text" placeholder="enter name" formControlName="username" />
  <input type="password" placeholder="password" formControlName="password" />
  <button>Submit</button>
</form> -->

<!-- template driven form validation -->
<!-- jin forms ki handling html(template) me hoti h -->
<!-- <form #LoginForm="ngForm" (ngSubmit)="userLogin(LoginForm.value)">
  <input
    type="text"
    required
    #name="ngModel"
    placeholder="enter name"
    name="name"
    pattern=""
    ngModel
  />
  <br />
  <span *ngIf="name.invalid && name.touched" style="color: red"
    >please enter valid input</span
  >
  <br />
  <input
    type="password"
    required
    #password="ngModel"
    placeholder="enter password"
    name="password"
    minlength="2"
    ngModel
  />
  <br /><span *ngIf="password.invalid && password.touched" style="color: red"
    >please enter valid input</span
  >
  <button [disabled]="LoginForm.invalid">Submit</button>
</form> -->

<!-- template driven form -->
<!-- <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)">
  <input type="text" placeholder="enter name" name="name" ngModel />
  <br />
  <input type="password" placeholder="password" name="password" ngModel />
  <br />
  <button>Login</button>
</form>
<button (click)="userLogin(loginForm.value)">Login</button> -->

<!-- custom pipes -->
<!-- <h1>{{ 20 | usdInr: 75 }}</h1> -->

<!-- advanced pipes -->
<!-- <h1>{{ title | slice: 3:6 | uppercase }}</h1>
<h2>{{ 2.3 | number: "3.2-4" }}</h2>
<h2>{{ 20 | currency: "INR" }}</h2>
<h2>{{ "who are we" | uppercase | slice: 0:1 }}</h2> -->

<!-- pipes -->
<!-- <h1>{{ title | uppercase }}</h1>
<h2>{{ date | date: "fullDate" }}</h2> -->

<!-- two way binding -->
<!-- <input type="text" [(ngModel)]="title" /> -->

<!-- child to parent -->
<!-- <app-contact (updateDataEvent)="updateData($event)"></app-contact>
 -->

<!-- <app-contact [item]="data"></app-contact>
<button (click)="updateData()">update child data</button> -->

<!-- color binding -->
<!-- <h1 [style.color]="color">Hello {{ title }}</h1>
<button (click)="setValue()">change condition</button> -->

<!-- nested loop -->
<!-- <ul *ngFor="let user of userDetails">
  <li>{{ user.name }}</li>
  <li>{{ user.phone }}</li>
  <ul *ngFor="let account of user.socials">
    <li>
      <a href="google.com">{{ account }}</a>
    </li>
  </ul>

  <li>{{ user.email }}</li>
</ul> -->

<!-- for loop -->
<!-- <h2 *ngFor="let i of userDetails">
  {{ i.name + ": " + i.email }}
</h2> -->

<!-- switch case -->
<!-- jb do teen se jyada conditions ho  -->
<!-- <div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="color: red">red color</h1>
  <h1 *ngSwitchCase="'green'" style="color: rgb(27, 94, 27)">green color</h1>
  <h1 *ngSwitchCase="'white'" style="color: rgb(252, 244, 244)">white color</h1>
  <h1 *ngSwitchCase="'blue'" style="color: rgb(23, 93, 243)">blue color</h1>
  <h1 *ngSwitchCase="'pink'" style="color: rgb(214, 28, 143)">pink color</h1>
  <h1 *ngSwitchCase="'lemon'" style="color: rgb(171, 247, 148)">lemon color</h1>
  <h1 *ngSwitchCase="'black'" style="color: rgb(3, 3, 3)">black color</h1>
  <h1 *ngSwitchDefault style="color: rgb(153, 146, 146)">Unknown color</h1>
</div> -->

<!-- else if -->
<!-- <ng-template [ngIf]="color === 'green'">
  <h2 style="color: green">Green color</h2>
</ng-template>
<ng-template [ngIf]="color === 'red'">
  <h2 style="color: rgb(223, 25, 25)">Red color</h2>
</ng-template>
<ng-template [ngIf]="color === 'white'">
  <h2 style="color: rgb(229, 230, 243)">white color</h2>
</ng-template> -->

<!-- if else condition -->
<!-- <h1 *ngIf="show; then ifBlock; else elseBlock"></h1>
<ng-template #ifBlock>
  <h1>kya khayega</h1>
</ng-template>
<ng-template #elseBlock>
  <h1>samosa</h1>
</ng-template> -->

<!-- property binding -->
<!-- <input
  type="text"
  placeholder="write something"
  name="user"
  value="{{ name }}"
  disabled="{{ disable }}"
  #box
/> -->
<!-- using interpoltion we can't do it efficiently -->
<!-- <br />
<input
  type="text"
  placeholder="write something"
  name="user"
  [value]="name"
  [disabled]="disable"
  #box
/> -->

<!-- component -->
<!-- <app-user-list></app-user-list> -->

<!-- <h1
  (mouseleave)="getName('mouse is hovering')"
  (click)="getName('clicked on h1')"
>
  Hello World
</h1> -->
